
{% extends 'main/layout.html' %}

{% block content %}
<h2>Введение</h2>
<div class="list">
    <p>Виктор Андреевич Нежельский – опытный разработчик программного
        обеспечения с многолетним опытом работы в области проектирования и IT.
        Специализируется на разработке на языках Python и Java.</p>
</div>

<h2>Обо мне</h2>
<div class="list">
    <p><strong>Образование:</strong></p>
    <li>Краснодарский архитектурно-строительный техникум (1971-1974), факультет Архитектура.</li>
    <li>Краснодарский политехнический институт (1976-1979), заочный факультет ПГС.</li>
    <li>Самообразование в области IT технологий и программирования (1980-1999), освоение языков Алгол, Clipper, Delphi, AutoLISP, SQL и других.</li>
    <li>Курс по программированию на JAVA на JavaRush.com (2020).</li>
    <li>Курс "Программист на Python с нуля с помощью Chat GPT" в Университете Зерокодер (2024).</li>
</div>
{% endblock %}
