
{% extends 'main/layout.html' %}

{% block content %}
<h2>Трудовая деятельность</h2>
<div class="list">
    <li>Инженер-строитель в проектных организациях г. Краснодара (1976-1992).</li>
    <li>Программист технического отдела ОАО "Севкавпищепромпроект" (1992-1994).</li>
    <li>Главный специалист технического отдела ОАО "Севкавпищепромпроект" (1994-2018).</li>
    <li>Самозанятый IT специалист (2024 - настоящее время).</li>
</div>

<h2>Навыки</h2>
<div class="list">
    <p>В процессе многолетней трудовой деятельности Виктор Андреевич приобрел обширные навыки в
        области информационных технологий.<br>Основные направления его работы включали:</p>
    <li>Разработка утилит для AutoCAD.</li>
    <li>Создание СУБД "Электронный архив проектной организации".</li>
    <li>Разработка различных программ для строительного проектирования.</li>
    <p>После завершения трудовой карьеры он продолжил развиваться в области IT, получив начальные
        навыки программирования на Java и освоив работу с нейросетями и искусственным интеллектом,
        включая Chat GPT и MidJourney. Также он освоил программирование на Python.</p>
</div>
{% endblock %}